---
---
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
        {%- if entry.preview -%}
          {% if entry.preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
          {%- else -%}
            {%- assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' -%}
            {% include figure.html
            path=entry_path
            class="preview z-depth-1 rounded"
            alt=entry.preview -%}
          {%- endif -%}
        {%- elsif entry.abbr -%}
          {%- if site.data.venues[entry.abbr] -%}
            {%- assign venue_style = nil -%}
            {%- if site.data.venues[entry.abbr].color != blank -%}
              {%- assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' -%}
            {%- endif -%}
            <abbr class="badge" {% if venue_style %}{{venue_style}}{% endif %}><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
          {%- else -%}
            <abbr class="badge">{{entry.abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-8">
        <!-- Title -->
        <div class="title">{{entry.title}}</div>
        <!-- Author -->
        <div class="author">
        {% assign author_array_size = entry.author_array | size %}

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title">{{entry.title}}</div>
      <div class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}}, {{author.first}}</em>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.first}} {{author.last}}</em>,
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name %}
                and <em>{{author.first}} {{author.last}}</em>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
              data-hide-zero-citations="true" data-style="small_rectangle" data-legend="hover-right" style="margin-bottom: 6px;"></span>
            {%- endif %}
          </div>
          {%- endif %}

          {% if entry.abstract -%}
          <!-- Hidden abstract block -->
          <div class="abstract hidden">
            <p>{{ entry.abstract }}</p>
          </div>
          {%- endif -%}

          {% if entry.bibtex_show -%}
          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          {%- endif %}
        </div>
      </div>
